{% extends 'base.html.twig' %}

{% block title %}{{ "Zigorren mantenua" | trans}}{% endblock %}

{% block body %}

    <div class="">
        <div class="page-title">
            <div class="title_left">
                <h3>{{ "Zigor" | trans}} <small>{{ "berria" | trans}}</small></h3>
            </div>
            <div class="title_right">
                <div class="col-md-5 col-sm-5   form-group pull-right top_search">

                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <div class="row" style="display: block;">
            <div class="col-md-12 col-sm-12 ">
                <div class="x_panel">
                    <div class="x_title">
                        <ul class="list-inline">
                            <li class=""><a href="{{ path('app_zigorra_index') }}">Itzuli zerrendara</a></li>
                            <li><a id="btnSaveButton" href="javascript: void(0)" class="btn btn-success "><i class="fa fa-save"></i> GORDE</a></li>

                        </ul>

                        <div class="clearfix"></div>
                    </div>
                    <div class="x_content">
                        <br>
                        {{ include('zigorra/_form.html.twig') }}
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
