{% extends 'base.html.twig' %}

{% block title %}{{ "Guneen mantenua" | trans}}{% endblock %}

{% block body %}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>{{ "Guneen mantenua" | trans}}</small></h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="display: block;">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <a id="btnNew" href="{{ path('app_gunea_new') }}" class="btn btn-success "><i class="fa fa-plus-square"></i> BERRIA</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <table class="table table-striped table-hover projects datatable">
                        <thead>
                            <tr>
                                <th>{{ "Izena" | trans}}</th>
                                <th>{{ "Helbidea" | trans}}</th>
                                <th>{{ "Ordutegia" | trans}}</th>
                                <th>{{ "Latitudea" | trans}}</th>
                                <th>{{ "Longitudea" | trans}}</th>
                                <th style="width: 20%"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for gunea in guneas %}
                            <tr>
                                <td>{{ gunea.name }}</td>
                                <td>{{ gunea.helbidea }}</td>
                                <td>{{ gunea.ordutegia | raw }}</td>
                                <td>{{ gunea.latitude }}</td>
                                <td>{{ gunea.longitude }}</td>
                                <td class="text-center">
                                    <ul class="list-inline">
                                        <li>
{#                                            <a class="btn btn-primary" href="{{ path('app_gunea_edit', {'id': gunea.id}) }}"><i class="fa fa-edit"></i> {{ "Editatu" | trans}}</a>#}
                                            <a class="btn btn-primary btn-xs" href="{{ path('app_gunea_edit', {'id': gunea.id}) }}"
                                               data-toggle="tooltip" data-placement="top" title="{{ 'Editatu' | trans }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                        <li>
                                            {{ include('gunea/_delete_form.html.twig') }}
                                        </li>
                                    </ul>


                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="9">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
