{% extends 'base.html.twig' %}

{% block title %}Gunea{% endblock %}

{% block body %}
    <h1>{{ gunea }}</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ gunea.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ gunea.name }}</td>
            </tr>
            <tr>
                <th>Helbidea</th>
                <td>{{ gunea.helbidea }}</td>
            </tr>
            <tr>
                <th>Ordutegia</th>
                <td>{{ gunea.ordutegia | raw}}</td>
            </tr>
            <tr>
                <th>Latitude</th>
                <td>{{ gunea.latitude }}</td>
            </tr>
            <tr>
                <th>Longitude</th>
                <td>{{ gunea.longitude }}</td>
            </tr>
        </tbody>
    </table>

    <h3>Guneko bizikletak</h3>

    <table class="table table-bordered table-bordered table-hover table-striped">
        <thead>
        <tr>
            <th>{{ "Udala" | trans}}</th>
            <th>{{ "Kodea" | trans}}</th>
            <th>{{ "Erregistroa" | trans}}</th>
            <th>{{ "Bastidorea" | trans}}</th>
            <th style="width: 20%"></th>
        </tr>
        </thead>
        <tbody>
        {% for bizikleta in gunea.bizikletak %}
            <tr>
                <td>{{ bizikleta.udala }}</td>
                <td>{{ bizikleta.code }}</td>
                <td>{{ bizikleta.erregistroa }}</td>
                <td>{{ bizikleta.bastidorea }}</td>
                <td>
                    <a class="btn btn-primary btn-xs" href="{{ path('app_bizikleta_edit', {'id': bizikleta.id}) }}"
                       data-toggle="tooltip" data-placement="top" title="{{ 'Editatu' | trans }}">
                        <i class="fa fa-pencil"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}
