{% extends 'base.html.twig' %}

{% block title %}{{ "Ibilbideen Mantenua" | trans}}{% endblock %}

{% block body %}

<div class="">
    <div class="page-title">
        <div class="title_left">
            <h3>{{ "Ibilbideen Mantenua" | trans}}</h3>
        </div>
        <div class="title_right">
            <div class="col-md-5 col-sm-5   form-group pull-right top_search">

            </div>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="row" style="display: block;">
        <div class="col-md-12 col-sm-12 ">
            <div class="x_panel">
                <div class="x_title">
                    <a id="btnNew" href="{{ path('app_ibilbidea_new') }}" class="btn btn-success "><i class="fa fa-plus-square"></i> BERRIA</a>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <br>
                    <table class="table table-striped projects datatable">
                        <thead>
                            <tr>
                                <th style="width: 80%">{{ "Izena" | trans}}</th>
                                <th style="width: 20%"></th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for ibilbidea in ibilbideas %}
                            <tr>
                                <td>{{ ibilbidea.name }}</td>
                                <td class="text-center">
                                    <ul class="list-inline">
                                        <li class="list-item">
{#                                            <a class="btn btn-primary" href="{{ path('app_ibilbidea_edit', {'id': ibilbidea.id}) }}"><i class="fa fa-edit"></i> Editar</a>#}
                                            <a class="btn btn-primary btn-xs" href="{{ path('app_ibilbidea_edit', {'id': ibilbidea.id}) }}"
                                               data-toggle="tooltip" data-placement="top" title="{{ 'Editatu' | trans }}">
                                                <i class="fa fa-pencil"></i>
                                            </a>
                                        </li>
                                        <li class="list-item">{{ include('ibilbidea/_delete_form.html.twig')}}</li>
                                    </ul>

                                </td>
                            </tr>
                        {% else %}
                            <tr>
                                <td colspan="5">no records found</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



{% endblock %}
