<!DOCTYPE html>
<html lang="eu">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/ico" />
        <title>{% block title %}{{ "Bizibadia"|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('cssGentella') }}
        {% endblock %}
    </head>
    <body class="nav-md">
    <div class="container body">
        <div class="main_container">
            <input type="hidden" id="txtLocale" value="{{ app.request.locale | lower}}">
            {% include '_sidebar.html.twig' %}
            {% include '_topbar.html.twig' %}

            <!-- page content -->
            <div class="right_col" role="main" style="min-height: 3828px;">
                <div>
                    <div class="row">
                        <div class="col-md-2"></div>
                        <div class="col-md-8">
                            {% for message in app.flashes('success') %}
                                <div class="alert alert-success alert-dismissible " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                            {% for message in app.flashes('error') %}
                                <div class="alert alert-danger alert-dismissible " role="alert">
                                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span>
                                    </button>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                        <div class="col-md-2"></div>

                    </div>
                    {%block body%}{%endblock%}
                </div>
            </div>
            <!-- /page content -->

            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    <a href="https://pasaia.eus" target="_blank">Pasaiakoa Udala 2022</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->

        </div>
    </div>

    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
            {{ encore_entry_script_tags('gentella') }}
    {% endblock %}
    </body>
</html>
