<!DOCTYPE html>
<html lang="eu">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="images/favicon.ico" type="image/ico" />
        <title>{% block title %}{{ "Bizibadia"|trans }}{% endblock %}</title>
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
            {{ encore_entry_link_tags('cssGentella') }}
        {% endblock %}

    </head>

    <body class="">

    {%block body%}{%endblock%}

    {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
{#            {{ encore_entry_script_tags('gentella') }}#}
    {% endblock %}
    </body>
</html>
