{{ form_start(form) }}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_row(form.endGunea) }}
        </div>
        <div class="col-md-2"></div>
    </div>

<hr>

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_row(form.dateEnd) }}
        </div>
        <div class="col-md-2"></div>
    </div>

    <div style="display: none;">
        <button id="crudSubmitButton" class="btn">{{ button_label|default(' Savesss') }}</button>
    </div>

{{ form_end(form)}}
