{{ form_start(form) }}

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="form-group">
                <label class="control-label required" for="mailegua_hasi_erabiltzailea">Erabiltzailea</label>

                <input type="text"
                       id="mailegua_hasi_erabiltzailea"
                       name="mailegua_hasi[dateStart]"
                       class="form-control disabled"
                       value="{% if mailegua.erabiltzailea.udala == app.user.udala %}{{ mailegua.erabiltzailea }}{% else %}{{ mailegua.erabiltzailea.nan }}{% endif %}" disabled
                >
            </div>
            {{ form_row(form.bizikleta) }}
            <button id="btnOharrakModal" type="button" class="btn btn-warning"
                    data-toggle="modal" data-target=".bs-example-modal-sm" style="display: none;"><i class="fa-solid fa-note"></i> Oharrak</button>
            <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" style="display: none;" aria-hidden="true">
                <div class="modal-dialog modal-sm">
                    <div class="modal-content">
                        <div class="modal-body">
                            <h4 id="modalh4"></h4>
                            <div id="modaloharrak"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ "Itxi" | trans}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_row(form.startGunea) }}
            {{ form_row(form.dateStart) }}
        </div>
        <div class="col-md-2"></div>
    </div>

    <hr>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            {{ form_row(form.ibilbidea) }}
            {{ form_row(form.eguraldia) }}
        </div>
        <div class="col-md-2"></div>
    </div>

    <div style="display: none;">
        <button id="crudSubmitButton" class="btn">{{ button_label|default(' Savesss') }}</button>
    </div>

{{ form_end(form)}}
