{% extends 'base.html.twig' %}

{% block title %}Guneen mantenua{% endblock %}

{% block 'javascripts' %}
    {{ parent() }}
    {{ encore_entry_script_tags('charts') }}
{% endblock %}

{% block body %}

{#    <div class="row" style="display: inline-block;">#}
    <div class="row" >
        <div class="top_tiles">

            <div class="animated flipInY col-lg-6 col-md-6 col-sm-12 ">
                <div class="tile-stats">
                    <div class="icon"><i class="faIcon fa-solid fa-user"></i></div>
                    <div class="count">{{ users | length }}</div>
                    <h3>{{ "Erabiltzaile" | trans}}</h3>
                    <p>{{ "(kudeatzaileak barne)" | trans}}</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-6 col-md-6 col-sm-12 ">
                <div class="tile-stats">
                    <div class="icon"><i class="faIcon fa-solid fa-arrow-right-arrow-left"></i></div>
                    <div class="count">{{ maileguak | length }}</div>
                    <h3>{{ "Mailegu" | trans}}</h3>
                    <p>{{ "(indarrean dauneak barne)" | trans}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Azken hilabeteetako aktibitatea <small>gune guztietan</small></h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <div class="col-md-6" style="overflow:hidden;">
                            <div class="box-body table-responsive no-padding">
                                <h4 style="margin:18px">{{ "Guneak - Bizikletak" | trans}}</h4>
                                <table class="table table-hover">
                                    <tbody><tr>
                                        <th>Gunea</th>
                                        <th>Bizikleta Kopurua</th>
                                        <th>Arazo Mekanikoekin</th>
                                    </tr>
                                    {% for g in guneak %}
                                        <tr>
                                            <td>{{ g.name }}</td>
                                            <td>{% if g.bizikletak.count is defined %}{{ g.bizikletak | length }}{% endif %}</td>
                                            <td>{% set ongi=0 %}
                                                {% for b in g.bizikletak %}
                                                    {% if b.notes is not empty %}
                                                        {% set ongi = ongi+1 %}
                                                    {% endif %}
                                                {% endfor %}
                                                {{ ongi }}
                                            </td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="col-md-6" style="overflow:hidden;">
                            <h4 style="margin:18px">{{ "Bizikletak - Matxurak" | trans}}</h4>
                            <table class="table table-hover">
                                <tbody>
                                <tr>
                                    <th>Bizikleta</th>
                                    <th>Kodea</th>
                                    <th>Matxura</th>
                                </tr>
                                {% for b in bizikletak %}
                                    {% if b.notes is not empty %}
                                        <tr>
                                            <td>{{ b.id }}</td>
                                            <td>{{ b.code}}</td>
                                            <td>
                                                {{ b.notes | raw }}
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Azken hilabeteetako aktibitatea <small>gune guztietan</small></h2>
                    <input id="txtMonthly" type="hidden" value="{{ monthly | json_encode }}">
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <div class="col-md-12" style="overflow:hidden;">
                            <h4 style="margin:18px">{{ "Azken hilabeteetako alokaitu kopurua" | trans}}</h4>
                            <div>
                                <canvas id="myChart"></canvas>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
