{% extends 'base.html.twig' %}

{% block title %}Guneen mantenua{% endblock %}

{% block body %}

{#    <div class="row" style="display: inline-block;">#}
    <div class="row" >
        <div class="top_tiles">

            <div class="animated flipInY col-lg-6 col-md-6 col-sm-12 ">
                <div class="tile-stats">
                    <div class="icon"><i class="faIcon fa-solid fa-user"></i></div>
                    <div class="count">{{ users | length }}</div>
                    <h3>{{ "Erabiltzaile" | trans}}</h3>
                    <p>{{ "(kudeatzaileak barne)" | trans}}</p>
                </div>
            </div>
            <div class="animated flipInY col-lg-6 col-md-6 col-sm-12 ">
                <div class="tile-stats">
                    <div class="icon"><i class="faIcon fa-solid fa-arrow-right-arrow-left"></i></div>
                    <div class="count">{{ maileguak | length }}</div>
                    <h3>{{ "Mailegu" | trans}}</h3>
                    <p>{{ "(indarrean dauneak barne)" | trans}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="x_panel">
                <div class="x_title">
                    <h2>Asteko aktibitatea <small>gune guztietan</small></h2>
                    <input id="txtMonthly" type="text" value="{{ monthly | json_encode }}">
                    <ul class="nav navbar-right panel_toolbox">
                        <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                <a class="dropdown-item" href="#">Settings 1</a>
                                <a class="dropdown-item" href="#">Settings 2</a>
                            </div>
                        </li>
                        <li><a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <div class="row" style="border-bottom: 1px solid #E0E0E0; padding-bottom: 5px; margin-bottom: 5px;">
                        <div class="col-md-7" style="overflow:hidden;">
{#                            <span class="sparkline_one" style="height: 160px; padding: 10px 25px;"><canvas width="478" height="125" style="display: inline-block; width: 478px; height: 125px; vertical-align: top;"></canvas></span>#}
{#                            <div id="graph_bar" style="width: 100%; height: 400px; position: relative; -webkit-tap-highlight-color: rgba(0, 0, 0, 0);">#}
                            <div>

                                <canvas id="myChart"></canvas>
                            </div>
                            <h4 style="margin:18px">Weekly sales progress</h4>
                        </div>
                        <div class="col-md-5">
                            <div class="row" style="text-align: center;">
                                <div class="col-md-4"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
                                    <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0px; width: 110px; height: 110px;"></canvas>
                                    <h4 style="margin:0">Bounce Rates</h4>
                                </div>
                                <div class="col-md-4"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
                                    <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0px; width: 110px; height: 110px;"></canvas>
                                    <h4 style="margin:0">New Traffic</h4>
                                </div>
                                <div class="col-md-4"><iframe class="chartjs-hidden-iframe" style="width: 100%; display: block; border: 0px; height: 0px; margin: 0px; position: absolute; inset: 0px;"></iframe>
                                    <canvas class="canvasDoughnut" height="110" width="110" style="margin: 5px 10px 10px 0px; width: 110px; height: 110px;"></canvas>
                                    <h4 style="margin:0">Device Share</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



{% endblock %}
